/* 
    Primary Color: #1B74E4
    Background Color: #EFEFEF
*/

/* Default Variables */
:root {
    --primary-color: #1B74E4;
    --body-bg-color: #EFEFEF;
    --online-color: #41DB51;
    --white-color: #FFFFFF;
    --sidebar-imp-color: #050505;
    --sidebar-more-link: #1876F2;
    --border-color: #CED0D4;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--body-bg-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    width: 160px;
    margin-right: 45px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left ul li {
    list-style: none;
    display: inline-block;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin-left: 30px;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    background-color: var(--online-color);
    position: absolute;
    bottom: 5px;
    right: 0;
}

.search-box {
    background-color: var(--body-bg-color);
    display: flex;
    align-items: center;
    width: 250px;
    border-radius: 20px;
    padding: 0 15px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border: none;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
}

.left-sidebar, .right-sidebar{
    flex-basis: 25%;
    position: relative;
    top: 50px;
}

.left-sidebar {
    align-self: flex-end;
}

.right-sidebar {
    align-self: flex-start;
}

.main-container {
    flex-basis: 47%;
}

.sidebar-profile-pic {
    border-radius: 50%;
}

.imp-links {
    border-bottom: 1px solid var(--border-color);
}

.imp-links a, .shortcut-links a {
    display: flex;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    margin-bottom: 20px;
    color: var(--sidebar-imp-color);
}

.imp-links a img, .shortcut-links a img {
    width: 36px;
    margin-right: 15px;
}

.imp-links a:last-child {
    color: var(--sidebar-more-link);
}

.shortcut-links {
    margin-top: 30px;
}

.shortcut-links p{
    margin-bottom: 15px;
    font-weight: 600;
}

.shortcut-links a{
    font-weight: 500;
}

.shortcut-title, .sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.shortcut-title a, .sidebar-title a {
    color: var(--sidebar-more-link);
    text-decoration: none;
    font-size: 13px;
}

.shortcut-links a img {
    border-radius: 5px;
}

.sidebar-title h4 {
    font-weight: 600;
}

.events {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}